<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="conexion" connectionString="provider=mySql;Location=93.188.160.86;Data Source=u323099429_partediario;User ID=u323099429_alejandrobarbo;Password=AlfaCentaury823;Port=3306;"/>
    <add name="conexion2" connectionString="Server=93.188.160.86; DataBase=u323099429_partediario; Uid=u323099429_alejandrobarbo; Pwd=AlfaCentaury823;"/>
    <add name="conexion3" connectionString="Server=localhost; DataBase=u323099429_partediario; Uid=root; Pwd='';"/>
    <add name="conexion4" connectionString="server=localhost;user id=root;password=AlfaCentaury823;persistsecurityinfo=True;port=3307;database=u323099429_partediario"/>
  </connectionStrings>
  <appSettings>
    <add key="tec1" value="Alejandro Barboza"/>
    <add key="tec2" value="Dario Torres"/>
    <add key="tec3" value="Luis Ghioni"/>
    <add key="tec4" value="Sebastian Aliaga"/>
    <add key="database" value="u323099429_partediario"/>
    <add key="dirPlantilla" value="c:\plantilla\"/>
    
  </appSettings>
</configuration>